<template>
  <div class="container">
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
        description="We'll never share your email with anyone else."
      >
        <b-form-input
          id="input-1"
          v-model="form.email"
          type="email"
          required
          placeholder="Enter email"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.name"
          required
          placeholder="Enter name"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-3"
        label="ID:"
        label-for="input-3"
        description="your ID should be made up of numbers"
      >
        <b-form-input
          id="input-3"
          v-model="form.id"
          type="number"
          placeholder="Enter ID"
        ></b-form-input>
      </b-form-group>
      <!-- still need to fix regex for phone number -->
      <b-form-group
        id="input-group-4"
        type="tel"
        label="Phone:"
        label-for="input-4"
      >
        <b-form-input
          id="input-4"
          v-model="form.phone"
          type="number"
          required
          placeholder="Enter phone number"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-5" label="password" label-for="input-5">
        <b-form-input
          id="input-5"
          v-model="form.password"
          type="password"
          required
          placeholder="Enter password"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-6" label="Role:" label-for="input-6">
        <b-form-select
          id="input-6"
          v-model="form.role"
          :options="role"
          required
        ></b-form-select>
      </b-form-group>

      <b-form-group id="input-group-7" label="date" label-for="input-6">
        <b-form-datepicker
          id="input-5"
          v-model="form.date"
          required
        ></b-form-datepicker>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
        name: "",
        id: "",
        phone: "",
        password: "",
        date: null,
        role: null
      },
      role: [
        { text: "Select One", value: null },
        "High Manager",
        "Salesman",
        "Central Unit",
        "Packer"
      ],
      show: true
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.form));
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.name = "";
      this.form.id = "";
      this.form.phone = "";
      this.form.password = "";
      this.form.date = null;
      this.form.role = null;

      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>
